<p id="notice"><%= notice %></p>
<%= @maintanance.name %>
<p><%= @maintanance.area %></p>
<p><%= @maintanance.problem %></p>
<p><%= @maintanance.created_at %></p>

<%= link_to 'Edit' %> |
<%= link_to 'Back' %>
